/* Main styles for Matching Pairs game */
body {
    margin: 0;
    padding: 0;
    background-color: #5a5a5a;
    text-align: center;
}
.mainPage {
    background-color: #5a5a5a;
    width: 1280px;
    margin: auto;
}
.centreSection {
    background-color: #5a5a5a;
    padding: 0px;
    margin: 100px;
}
.rightSection {
    background-color: #5a5a5a;
    width: 30%;
    float: left;
}
.leftSection {
    background-color: #5a5a5a;
    width: 30%;
    float: left;
}
.title img {
    display: inline;
}
#instructions {
    margin: 40px 0px 60px 0px;
}
#ready {
    margin: 40px;
}
#kids {
    margin: 0px;
    float: left;
}
#nameEntry {
    margin: 50px;
}
#nameInput {
    width:280px;
    height:50px;
    background-color: #3a3a3a;
    font-family:'Arial Regular', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:18px;
    text-decoration:none;
    color:#FFFFFF;
    text-align:center;
}
.player {
    float: right;
    margin-right: 30px;
}
.playerName {
    float: left;
    margin-left: 30px;
    color: #ffffff;
}
#player1 {
    margin-bottom: 30px;
}